.teaserimage
  .teaserimage-image{style: "background-image: url(#{config.cover})"}
    Sunny and Umoja got on the cider

%header.blog-header
  %a.blog-logo{href: "/", style: "background-image: url(#{config.logo})"}
    =h config.site_title
  %h1.blog-title=h config[:site_title]
  %h2.blog-description=h config[:description]
  .custom-links
    %a{href: "https://edenprojects.org/user/philsturgeon/"} 
    &nbsp;&nbsp;路&nbsp;&nbsp;
    - config.social.each do |x, social|
      - if social[:url]
        %a{class: "icon-social[:icon]", href: social[:url]}
          %i.fa{class: "fa-#{social[:icon]}"}
        &nbsp;&nbsp;路&nbsp;&nbsp;
    %a{href: "/books/"} Books
    &nbsp;&nbsp;路&nbsp;&nbsp;
    %a{href: "/speaking/"} Speaking
    &nbsp;&nbsp;路&nbsp;&nbsp;
    %a{href: "https://calendly.com/philsturgeon"} Consulting
    &nbsp;&nbsp;路&nbsp;&nbsp;
    %a{href: "/about/"} About