- if article.tags.include? "api"
  %hr

  %p If you want more advice on HTTP/API stuff, grab a copy of my book <a href="http://apisyouwonthate.com/">Build APIs You Won't Hate</a>. One reader said "This book is neither boring nor elitist; it reads like a conversation about APIs with an old friend."

  %p Another said: "I didn't realize how fucking horrible our API was until Phil showed me what a good API is."
