%hr

- if article.tags.include? "api"
  %p
    %em If you're into APIs, I've written a whole book called <a href="https://apisyouwonthate.com/?utm_source=philsturgeon.uk&utm_content=api-tag-footer">Build APIs You Won't Hate</a>, and it's available in ebook or paperback form! If programming books normally bore the crap out of you, this book is for you.
  %p
    %em I'm <a href="https://clarity.fm/philsturgeon">available for consulting</a> if you want help making your APIs more gooder. Half of the money goes to the ACLU, and the other half goes towards my green card. Fuck Trump ✊.
