
- if article.tags.include? "building-rest-apis-in-rails"
  %p Other videos in this practice series:

  %ul
    %li
      Episode 1:
      %a{href: '/api/2016/11/22/apis-documentation-first/'} Documenting Your API First
    %li
      Episode 2:
      %a{href: '/api/2016/12/02/mocking-apis-with-api-blueprint/'} Mocking APIs with API Blueprint
    %li
      Episode 3:
      %a{href: '/api/2016/12/11/building-apis-with-rails-basic-serialization/'} Basic Serialization
    %li
      Episode 4:
      %a{href: '/api/2016/12/21/building-rest-apis-with-rails-documentation-testing/'} Documentation Testing
    %li
      Episode 5 & 6:
      %a{href: '/api/2017/01/03/building-apis-with-rails-handling-errors-nicely/'} Handling Errors Nicely

%hr
