%hr

%p
  %em I do my best writing over a cider or three, so it only stands to reason that if you like my articles and want me to continue writing, you should <a href="https://www.morallicense.com/philsturgeon/buy-me-a-cider">grab me a cheeky pint!</a>

- if article.tags.include? "api"

  %p
    %em P.S. If you're interested in API development, swing by the <a href="https://slack.apisyouwonthate.com/?utm_source=philsturgeon.uk&utm_content=api-tag-footer">APIs You Won't Hate Slack Channel</a>. It's a community of over 800 developers who help each other out, and chat about HTTP, REST and APIs.
