- if article.tags.include? "api"
  %hr

  %p If you're interested in API development and want to hang out with other developers who share your interests, swing by the <a href="https://slack.apisyouwonthate.com/?utm_source=philsturgeon.uk&utm_content=api-tag-footer">APIs You Won't Hate Slack Channel</a>. It's a community of over 300 developers who help each other out, and chat about HTTP, REST and APIs.
