%hr

- if article.tags.include? "graphql"
  %p More on GraphQL:

  %ul
    %li
      %a{href: '/api/2017/01/24/graphql-vs-rest-overview/'} GraphQL vs REST: Overview
    %li
      %a{href: '/api/2017/01/26/graphql-vs-rest-caching/'} GraphQL vs REST: Caching
    %li
      %a{href: '/api/2017/04/18/you-might-not-need-graphql/'} You Might Not Need GraphQL
    %li
      %a{href: '/api/2017/06/19/representing-state-in-rest-and-graphql/'} Representing State in REST and GraphQL

-# - if article.metadata[:page]['hide_closing'] != true
-#   %p
-#     %em Bla
