%hr

%p
  %em I do my best writing over a cider or three, so it only stands to reason that if you like my articles and want me to continue writing, you should <a href="https://www.morallicense.com/philsturgeon/buy-me-a-cider">grab me a cheeky pint!</a>

- if article.tags.include? "api"

  %p
    %em P.S. If you're interested in API development, I've written a whole book called <a href="https://apisyouwonthate.com/?utm_source=philsturgeon.uk&utm_content=api-tag-footer">Build APIs You Won't Hate</a>, and it's available in ebook or paperback form! If programming books normally bore the crap out of you, this book is for you.
