%hr


- if article.tags.include? "graphql"
  %p I've done a bit of a series on GraphQL, and a pragmatic take on its excellence:

  %ul
    %li
      %a{href: '/api/2017/01/24/graphql-vs-rest-overview/'} GraphQL vs REST: Overview

    %li
      %a{href: '/api/2017/01/26/graphql-vs-rest-caching/'} GraphQL vs REST: Caching

    %li
      %a{href: '/api/2017/04/18/you-might-not-need-graphql/'} You Might Not Need GraphQL


- if article.tags.include? "api"
  %p
    %em If you're into APIs, I've written a whole book called <a href="https://apisyouwonthate.com/?utm_source=philsturgeon.uk&utm_content=api-tag-footer">Build APIs You Won't Hate</a>, and it's available in ebook or paperback form! If programming books normally bore the crap out of you, this book is for you.
  %p
    %em I'm <a href="https://clarity.fm/philsturgeon">available for consulting</a> if you want help making your APIs more gooder. Half of the money goes to the ACLU, and the other half goes towards my green card. Fuck Trump ✊.
