- if paginate && num_pages > 1
  .pagination
    %ul
      - if prev_page
        %li.page-prev{class: prev_page ? "" : "disabled"}
          =link_to "Prev", prev_page
      - (page_number - 2 .. page_number + 2).select{|i| i > 0 && i <= num_pages}.each do |i|
        - if i == page_number
          %li.active
            %span= i
        - else
          %li
            - p = nil
            - (i ... page_number).each do p = p ? p.metadata[:locals]['prev_page'] : prev_page; end
            - (page_number ... i).each do p = p ? p.metadata[:locals]['next_page'] : next_page; end
            =link_to "#{i}", p
      - if next_page
        %li.page-next{class: next_page ? "" : "disabled"}
          =link_to "Next", next_page
