<!-- footer start -->

<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/books/">Books</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      <li><a href="https://twitter.com/philsturgeon">Twitter</a></li>
      <li><a href="https://github.com/">GitHub</a></li>
      <li><a href="http://phptownhall.com/">PHP Town Hall</a></li>
    </ul>
    <ul>
      <li><h3>Favourite Posts</h3></li>
      <li><a href="/2014/05/31/the-pocket-guide-to-sexism-in-tech/">Pocket Guide to Sexism in Tech</a></li>
      <li><a href="/api/2015/02/11/meet-the-league/">Meet The League</a></li>
      <li><a href="/blog/2013/11/benchmarking-codswallop-nodejs-v-php/">Benchmarking Codswallop</a></li>
      <li><a href="/markdown/2014/11/30/state-of-markdown/">The State of Markdown</a></li>
    </ul>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8523256-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- footer end -->
