<!-- footer start -->

<footer class="site-footer">

 		<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/philsturgeon" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/philsturgeon', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
 			<p><label for="tlemail">Want to get my rants delivered straight to your inbox?</label></p><p><input type="email" style="width:200px" name="email" id="tlemail" /></p>
 			<input type="hidden" value="1" name="embed"/>
 			<input type="submit" value="Subscribe to Newsletter" />
	 		<p><a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe via RSS</span></a></p>
 		</form>

    <div class="inner">
         <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{ site.title }}</a> &copy; 2015 &bull; All rights reserved.</section>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8523256-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- footer end -->
