<!-- footer start -->

<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/books/">Books</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      <li><a href="https://twitter.com/philsturgeon">Twitter</a></li>
      <li><a href="https://github.com/">GitHub</a></li>
      <li><a href="http://phptownhall.com/">PHP Town Hall</a></li>
    </ul>
    <ul>
      <li><h3>Favourite Posts</h3></li>
      <li><a href="/2014/05/31/the-pocket-guide-to-sexism-in-tech/">Pocket Guide to Sexism in Tech</a></li>
      <li><a href="/api/2015/02/11/meet-the-league/">Meet The League</a></li>
      <li><a href="/blog/2013/11/benchmarking-codswallop-nodejs-v-php/">Benchmarking Codswallop</a></li>
      <li><a href="/markdown/2014/11/30/state-of-markdown/">The State of Markdown</a></li>
    </ul>
  </div>
</footer>

<!-- footer end -->
