---
layout: page
title: Books
---

%p Sometimes I write things even longer than a huge article.

- data.books.each do |book|
  .book
    %a{ href: book.links.first.url }
      %h1=h "#{book.title} (#{book.year})"
    %h2
      %p=h book.slogan
    .book-image
      %figure.image
        %a{ href: book.links.first.url }
          %img{src: book.cover, alt: h("#{book.title} Cover"), 'data-no-caption' => true}
    .book-content
      %p=h book.description
      .button-group
        - book.links.each do |link|
          %a{ href: link.url }
            %button.action{class: link["class"]}= link.label
