---
layout: page
title: Speaking
---

- { upcoming: "Upcoming", past: "Past" }.each do |collection, header|

  - if data.speaking[collection]
    %h2= header

    - data.speaking[collection].each do |speak|
      .talk
        %header
          %h1
            %a{href: speak.event.url}=h speak.event.name
          %p=h "#{speak.event.dates} in #{speak.city}, #{speak.country}"

        - if speak.talks
          %article.talk-content
            - speak.talks.each do |talk|
              %h3=h data.talks[talk.slug].title
              %p=h data.talks[talk.slug].short

              %div.button-group
                - if talk.slides
                  %a{href: talk.slides}
                    %button.action Slides

                - if talk.video
                  %a{href: talk.video}
                    %button.action Video

                - if talk.feedback
                  %a{href: talk.feedback}
                    %button.action Feedback
